<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Register an appointment</title>
</head>
<body>

<form th:action="@{/app-update/{id}(id=${appEdit.id})}" th:object="${appEdit}" method="post" style="margin-left: 40%">
    <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]</h1>

    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}" /></td>
            <td th:if="#{field.hasErrors('name')}" th:errors="*{name}">Error in the name</td>
        </tr>

        <div align="left">
            <tr>
                <td>Your E- mail:</td>
                <td>
                    <select th:field="*{patient}" name="patient_id" id="patientDropList" class="form-control">
                        <option
                                th:each="patient : ${listPatients}"
                                th:value="${patient.id}"
                                th:text="${patient.email}">
                        </option>
                    </select>
                </td>
            </tr>
        </div>

        <tr>
            <td>Date:</td>
            <td><input type="date" th:field="*{date}" /></td>
            <td th:if="#{field.hasErrors('date')}" th:errors="*{date}">Error in date</td>
        </tr>

        <tr>
            <td>Additional information</td>
            <td><input type="text" th:field="*{additionalInformation}" /></td>
            <td th:if="#{field.hasErrors('additionalInformation')}" th:errors="*{additionalInformation}">Error in the additional info</td>
        </tr>

        <div align="left">
            <tr>
                <td>Doctors:</td>
                <td>
                    <select th:field="*{doctor}" name="doctor_id" id="doctorDropList" class="form-control">
                        <option
                                th:each="doctor : ${listDoctors}"
                                th:value="${doctor.id}"
                                th:text="${doctor.email}">
                        </option>
                    </select>
                </td>
            </tr>
        </div>

        <div align="left">
            <tr>
                <td>Type:</td>
                <td>
                    <select th:field="*{type}" name="type" id="typeDropList" class="form-control">
                        <option value="initial">initial</option>
                        <option value="secondary">secondary</option>
                        <option value="consultation">consultation</option>
                        <option value="procedure">procedure</option>
                    </select>
                </td>
            </tr>
        </div>

        <tr>
            <td>
                <button type="submit" class="btn btn-primary" value="save">Save</button>
                <a th:href="@{'/'}"><button type="button">Return to main Page</button> </a>
            </td>

            <td>

            </td>

        </tr>
    </table>
</form>

</body>
</html>