<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:select="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <title>Register an appointment</title>
</head>
<body>

<form th:action="@{/submition}" th:object="${appointment}" method="post" style="margin-left: 40%">
    <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]</h1>

    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}" /></td>
            <td th:if="#{field.hasErrors('name')}" th:errors="*{name}">Error in the name</td>
        </tr>

        <tr>
            <td>Date:</td>
            <td><input type="date" th:field="*{date}" /></td>
            <td th:if="#{field.hasErrors('date')}" th:errors="*{date}">Error in date</td>
        </tr>

        <div align="left">
            <tr>
                <td>Doctors:</td>
            <td>
                <select th:field="*{doctor}" name="doctor_id" id="doctor_id" class="form-control">
                    <option
                            th:each="doctor : ${listDoctors}"
                            th:value="${doctor.id}"
                            th:text="${doctor.email}">
                    </option>
                </select>
            </td>
            </tr>
        </div>

        <tr>
            <td>Additional information</td>
            <td><input type="text" th:field="*{additionalInformation}" /></td>
            <td th:if="#{field.hasErrors('additionalInformation')}" th:errors="*{additionalInformation}">Error in the additional info</td>
        </tr>

        <tr>
            <td>
                <button type="submit" value="save">Submit</button>
                <a th:href="@{/login}"><button type="button">Login</button></a>
                <a th:href="@{'/'}"><button type="button">Return to main Page</button> </a>
            </td>

            <td>

            </td>

        </tr>
    </table>
</form>

</body>
</html>