<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="ISO-8859-1">
    <title>The Hospital</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container text-center">
    <h1>Welcome to the Hospital</h1>

    <p>
    <img src="https://m.media-amazon.com/images/I/31BYTzLOJ2L._AC_SX355_.jpg" width="125" height="125">
</p>

    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <h1>List of active Admins</h1>
    </div>
    
<div sec:authorize="hasRole('ROLE_ADMIN')">
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>User ID</th>
            <th>E-mail</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user: ${listUsers}">
            <td th:text="${user.id}">User ID</td>
            <td th:text="${user.email}">E-mail</td>
            <td th:text="${user.firstName}">First Name</td>
            <td th:text="${user.lastName}">Last Name</td>
        </tr>
        </tbody>
    </table>
</div>


    <div sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_DOCTOR')">
        <h1>List of active Doctors</h1>
    </div>

    <div sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_DOCTOR')">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>User ID</th>
                <th>E-mail</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Specialty</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="doctor: ${listOfDoctors}">
                <td th:text="${doctor.id}">User ID</td>
                <td th:text="${doctor.email}">E-mail</td>
                <td th:text="${doctor.firstName}">First Name</td>
                <td th:text="${doctor.lastName}">Last Name</td>
                <td th:text="${doctor.specialty}">Specialty</td>
                <td sec:authorize="hasRole('ROLE_ADMIN')">
                    <a th:href="@{/doctorRegForm-edit/{id}(id=${doctor.id})}">  <button type="button">Edit  </button></a>
                </td>
                <td sec:authorize="hasRole('ROLE_ADMIN')">
                    <form th:action="@{/delete-doctor/{id}(id=${doctor.id})}" method="post">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

<div class="container text-center">
<div sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_DOCTOR')" align="center">
    <h1>List of active Patients</h1>
</div>

<div sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_DOCTOR')" >
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>User ID</th>
            <th>E-mail</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="patient: ${listOfPatients}">
            <td th:text="${patient.id}">User ID</td>
            <td th:text="${patient.email}">E-mail</td>
            <td th:text="${patient.firstName}">First Name</td>
            <td th:text="${patient.lastName}">Last Name</td>
            <td sec:authorize="hasRole('ROLE_ADMIN')">
                <a th:href="@{/patientRegForm-edit/{id}(id=${patient.id})}">  <button type="button">Edit  </button></a>
            </td>
            <td sec:authorize="hasRole('ROLE_ADMIN')">
                <form th:action="@{/delete-patient/{id}(id=${patient.id})}" method="post">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        <tr sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_DOCTOR')">
            <td><button onclick="location.href='/patients/id'">ID</button></td>
            <td><button onclick="location.href='/patients/asc'">Ascending order</button></td>
            <td><button onclick="location.href='/patients/desc'">Descending order</button></td>
        </tr>
        </tbody>
    </table>
</div>

</div>

<div class="container text-center">

    <div>
        <h1>List of Appointments</h1>
    </div>

    <div class="table-responsive">
        <table class="table align-middle">
        </table>
    </div>

    <div>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>User ID</th>
                <th>Name</th>
                <th>Additional Information</th>
                <th>Doctor's email</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="app: ${listOfAppointments}">
                <td th:text="${app.id}">Id</td>
                <td th:text="${app.name}">Name</td>
                <td th:text="${app.additionalInformation}">Additional Information</td>
                <td th:text="${app.doctor.email}">Doctor's email</td>
                <td sec:authorize="hasRole('ROLE_ADMIN')">
                    <a th:href="@{/app-edit/{id}(id=${app.id})}">  <button type="button">Edit  </button></a>
                </td>
                <td sec:authorize="hasRole('ROLE_ADMIN')">
                    <form th:action="@{/app-delete/{id}(id=${app.id})}" method="post">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <a th:href="@{/appointment}" sec:authorize="hasAnyRole('ROLE_PATIENT', 'ROLE_DOCTOR')">   <button type="button">Make an appointment   </button></a>
    <a th:href="@{/login}" sec:authorize="!isAuthenticated()">         <button type="button">Login                 </button></a>
    <a th:href="@{/patientRegForm}">   <button type="button">Register Patient   </button></a>
    <a th:href="@{/admin}" sec:authorize="hasRole('ROLE_ADMIN')">   <button type="button">Admin Panel   </button></a>

    <form th:action="@{/logout}" method="post" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_PATIENT', 'ROLE_DOCTOR')"> <input type="submit" value="Sign Out"/> </form>

</div>
</body>
</html>