<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Logged html</title>
    <style>
        .center {
            margin: auto;
            width: 25%;
            border: 1px solid black;
            padding: 10px;
        }
    </style>
</head>
<body>

<div class="center">
    <h1>Successfully logged</h1>
    <h2 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h2>
    <a th:href="@{'/'}"><button type="button">Return to main Page</button> </a>

</div>
</body>
</html>